.navBar {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fb7299;

  .icon {
    position: absolute;
    color: black;
    left: 16px;
  }
}